<div class="container head">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
                <h1><a href="index.html"><img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume.png?raw=true" alt="logo" style="height: 38px;"></a></h1>
                <div class="d-flex d-md-none">
                    <div class="d-flex align-items-center pe-1">
                        <a class="position-relative">
                            <span class="fs-5 material-symbols-outlined">
                                shopping_cart
                            </span>
                            <span class="position-absolute top-0 start-100 translate-middle badge bg-primary border border-light rounded-pill text-white">
                              3
                            </span>
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        <a class="btn btn-white" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="material-symbols-outlined">
                                menu
                                </span>
                        </a>
                        
                    </div>
                </div>
                <div class="d-none d-md-flex align-items-center">
                    <ul class="d-flex fs-5 list-unstyled mb-0">
                        <li class="me-8">
                            <a href="product.html" class=" d-flex align-items-center">
                                <span class="material-icons d-block">
                                    store
                                </span>
                                <p class="mb-0">
                                    Product
                                </p>
                            </a>
                        </li>
                        <li class="me-8">
                            <a href="" class=" d-flex align-items-center">
                                <span class="material-icons d-block">
                                    person
                                </span>
                                <p class="mb-0">log in</p>
                            </a>
                        </li>
                        <li class="me-8">
                            <a href="" class=" d-flex align-items-center">
                                <span class="material-icons d-block">
                                    favorite
                                </span>
                                <p class="mb-0">Wishlist</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class=" d-flex align-items-center">
                                <span class="material-icons d-block">
                                    shopping_cart
                                </span>
                                <p class="mb-0">Cart(3)</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid position-relative">
    <div class="row">
        <ul class="collapse text-center list-unstyled p-0 position-absolute bg-707070 zindex"  id="collapseExample">
            <li class="border-bottom py-4"><a class="text-white fs-5" href="product.html">Product</a></li>
            <li class="border-bottom py-4"><a class="text-white fs-5" href="product.html">Wishlist</a></li>
            <li class="border-bottom py-4"><a class="text-white fs-5" href="product.html">Blog</a></li>
            <li class="border-bottom py-4"><a class="text-white fs-5" href="product.html">Contact</a></li>
            <li class="border-bottom py-4"><a class="text-white fs-5" href="product.html">Mypage</a></li>
        </ul>
    </div>
</div>