<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap" rel="stylesheet">
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container-fulid bg-primary mt-3 d-none d-md-block porduct-nav mb-20">
      <div class="container py-3h">
          <div class="row">
              <ul class="list-unstyled d-flex mb-0">
                  <li><a href="" class="me-7">CHANEL</a></li>
                  <li><a href="" class="me-7">Jo Malone</a></li>
                  <li><a href="" class="me-7">Curology</a></li>
                  <li><a href="" class="me-7">Dior</a></li>
                  <li><a href="" class="me-7">Chloe</a></li>
                  <li><a href="" class="me-7">ZARA</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="commodity container">
      <div class="row">
          <div class="col-6 col-md-3 mb-7h mb-md-13h">
              <div class="card border-0">
                  <img src="https://images.unsplash.com/photo-1519669011783-4eaa95fa1b7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTN8MTE1ODAyMTR8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-top" alt="...">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-5 my-0h fw-bolder">Poppy & Barley</h5>
                    <p class="mb-0 fs-4 fw-light">Jo Malone</p>
                    <p class="mb-0h fs-4 fw-light">NT$1,380 <span class="text-8D8D8D"><del>NT$1,580</del></span></p>
                    <div>
                      <a href="#">
                          <span class="material-symbols-outlined text-primary">
                              favorite
                          </span>
                        </a>
                        <a href="
                        "><span class="material-symbols-outlined text-primary">
                          shopping_cart
                      </span></a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-6 col-md-3 mb-7h mb-md-13h">
              <div class="card border-0">
                  <img src="https://images.unsplash.com/photo-1530630458144-014709e10016?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTl8MTE1ODAyMTR8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-top" alt="...">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-5 my-0h fw-bolder">Poppy & Barley</h5>
                    <p class="mb-0 fs-4 fw-light">Jo Malone</p>
                    <p class="mb-0h fs-4 fw-light">NT$1,380 <span class="text-8D8D8D"><del>NT$1,580</del></span></p>
                    <div>
                      <a href="#">
                          <span class="material-symbols-outlined text-primary">
                              favorite
                          </span>
                        </a>
                        <a href="
                        "><span class="material-symbols-outlined text-primary">
                          shopping_cart
                      </span></a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-6 col-md-3 mb-7h mb-md-13h">
              <div class="card border-0">
                  <img src="https://images.unsplash.com/photo-1566977776052-6e61e35bf9be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjZ8MTE1ODAyMTR8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-top" alt="...">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-5 my-0h fw-bolder">Poppy & Barley</h5>
                    <p class="mb-0 fs-4 fw-light">Jo Malone</p>
                    <p class="mb-0h fs-4 fw-light">NT$1,380 <span class="text-8D8D8D"><del>NT$1,580</del></span></p>
                    <div>
                      <a href="#">
                          <span class="material-symbols-outlined text-primary">
                              favorite
                          </span>
                        </a>
                        <a href="
                        "><span class="material-symbols-outlined text-primary">
                          shopping_cart
                      </span></a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-6 col-md-3 mb-7h mb-md-13h">
              <div class="card border-0">
                  <img src="https://images.unsplash.com/photo-1578996834254-13d1b661a5ed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Mjd8MTE1ODAyMTR8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-top" alt="...">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-5 my-0h fw-bolder">Poppy & Barley</h5>
                    <p class="mb-0 fs-4 fw-light">Jo Malone</p>
                    <p class="mb-0h fs-4 fw-light">NT$1,380 <span class="text-8D8D8D"><del>NT$1,580</del></span></p>
                    <div>
                      <a href="#">
                          <span class="material-symbols-outlined text-primary">
                              favorite
                          </span>
                        </a>
                        <a href="
                        "><span class="material-symbols-outlined text-primary">
                          shopping_cart
                      </span></a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-6 col-md-3 mb-7h mb-md-13h">
              <div class="card border-0">
                  <img src="https://images.unsplash.com/photo-1582211594533-268f4f1edcb9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjF8MTE1ODAyMTR8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-top" alt="...">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-5 my-0h fw-bolder">Poppy & Barley</h5>
                    <p class="mb-0 fs-4 fw-light">Jo Malone</p>
                    <p class="mb-0h fs-4 fw-light">NT$1,380 <span class="text-8D8D8D"><del>NT$1,580</del></span></p>
                    <div>
                      <a href="#">
                          <span class="material-symbols-outlined text-primary">
                              favorite
                          </span>
                        </a>
                        <a href="
                        "><span class="material-symbols-outlined text-primary">
                          shopping_cart
                      </span></a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-6 col-md-3 mb-7h mb-md-13h">
              <div class="card border-0">
                  <img src="https://images.unsplash.com/photo-1585120040315-2241b774ad0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTR8MTE1ODAyMTR8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-top" alt="...">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-5 my-0h fw-bolder">Poppy & Barley</h5>
                    <p class="mb-0 fs-4 fw-light">Jo Malone</p>
                    <p class="mb-0h fs-4 fw-light">NT$1,380 <span class="text-8D8D8D"><del>NT$1,580</del></span></p>
                    <div>
                      <a href="#">
                          <span class="material-symbols-outlined text-primary">
                              favorite
                          </span>
                        </a>
                        <a href="
                        "><span class="material-symbols-outlined text-primary">
                          shopping_cart
                      </span></a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-6 col-md-3 mb-7h mb-md-13h">
              <div class="card border-0">
                  <img src="https://images.unsplash.com/photo-1592842414746-a2fd2101381f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjN8MTE1ODAyMTR8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-top" alt="...">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-5 my-0h fw-bolder">Poppy & Barley</h5>
                    <p class="mb-0 fs-4 fw-light">Jo Malone</p>
                    <p class="mb-0h fs-4 fw-light">NT$1,380 <span class="text-8D8D8D"><del>NT$1,580</del></span></p>
                    <div>
                      <a href="#">
                          <span class="material-symbols-outlined text-primary">
                              favorite
                          </span>
                        </a>
                        <a href="
                        "><span class="material-symbols-outlined text-primary">
                          shopping_cart
                      </span></a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-6 col-md-3 mb-7h mb-md-13h">
              <div class="card border-0">
                  <img src="https://images.unsplash.com/photo-1544468266-6a8948003cd7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTZ8MTE1ODAyMTR8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-top" alt="...">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-5 my-0h fw-bolder">Poppy & Barley</h5>
                    <p class="mb-0 fs-4 fw-light">Jo Malone</p>
                    <p class="mb-0h fs-4 fw-light">NT$1,380 <span class="text-8D8D8D"><del>NT$1,580</del></span></p>
                    <div>
                      <a href="#">
                          <span class="material-symbols-outlined text-primary">
                              favorite
                          </span>
                        </a>
                        <a href="
                        "><span class="material-symbols-outlined text-primary">
                          shopping_cart
                      </span></a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-6 col-md-3 mb-7h mb-md-13h">
              <div class="card border-0">
                  <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products10.jpg?raw=true" class="card-img-top" alt="...">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-5 my-0h fw-bolder">Poppy & Barley</h5>
                    <p class="mb-0 fs-4 fw-light">Jo Malone</p>
                    <p class="mb-0h fs-4 fw-light">NT$1,380 <span class="text-8D8D8D"><del>NT$1,580</del></span></p>
                    <div>
                      <a href="#">
                          <span class="material-symbols-outlined text-primary">
                              favorite
                          </span>
                        </a>
                        <a href="
                        "><span class="material-symbols-outlined text-primary">
                          shopping_cart
                      </span></a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-6 col-md-3 mb-7h mb-md-13h">
              <div class="card border-0">
                  <img src="https://images.unsplash.com/photo-1593886564059-13d6b735987b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NXwxMTU4MDIxNHx8ZW58MHx8fHx8&auto=format&fit=crop&w=600&q=60" class="card-img-top" alt="...">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-5 my-0h fw-bolder">Poppy & Barley</h5>
                    <p class="mb-0 fs-4 fw-light">Jo Malone</p>
                    <p class="mb-0h fs-4 fw-light">NT$1,380 <span class="text-8D8D8D"><del>NT$1,580</del></span></p>
                    <div>
                      <a href="#">
                          <span class="material-symbols-outlined text-primary">
                              favorite
                          </span>
                        </a>
                        <a href="
                        "><span class="material-symbols-outlined text-primary">
                          shopping_cart
                      </span></a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-6 col-md-3 mb-7h mb-md-13h">
              <div class="card border-0">
                  <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products11.jpg?raw=true" class="card-img-top" alt="...">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-5 my-0h fw-bolder">Poppy & Barley</h5>
                    <p class="mb-0 fs-4 fw-light">Jo Malone</p>
                    <p class="mb-0h fs-4 fw-light">NT$1,380 <span class="text-8D8D8D"><del>NT$1,580</del></span></p>
                    <div>
                      <a href="#">
                          <span class="material-symbols-outlined text-primary">
                              favorite
                          </span>
                        </a>
                        <a href="
                        "><span class="material-symbols-outlined text-primary">
                          shopping_cart
                      </span></a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-6 col-md-3 mb-7h mb-md-13h">
              <div class="card border-0">
                  <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products12.jpg?raw=true" class="card-img-top" alt="...">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-5 my-0h fw-bolder">Poppy & Barley</h5>
                    <p class="mb-0 fs-4 fw-light">Jo Malone</p>
                    <p class="mb-0h fs-4 fw-light">NT$1,380 <span class="text-8D8D8D"><del>NT$1,580</del></span></p>
                    <div>
                      <a href="#">
                          <span class="material-symbols-outlined text-primary">
                              favorite
                          </span>
                        </a>
                        <a href="
                        "><span class="material-symbols-outlined text-primary">
                          shopping_cart
                      </span></a>
                    </div>
                  </div>
                </div>
          </div>
      </div>
  </div>
  <div class="container mb-md-15 mb-10">
      <div class="row">
          <nav aria-label="Page navigation example" class="d-flex justify-content-center">
              <ul class="pagination">
                <li class="page-item "><a class="page-link border-0 border-secondary text-secondary border-bottom" href="#">1</a></li>
                <li class="page-item"><a class="page-link border-0 text-dark" href="#">2</a></li>
                <li class="page-item"><a class="page-link border-0 text-dark" href="#">3</a></li>
              </ul>
            </nav>
      </div>
  </div>
  <div class="container-fluid subscription">
      <div class="container pt-78 pb-28">
          <div class="row">
              <div class="mb-5">
                  <h2 class="fs-8 text-8D8D8D"><span class="d-block">記得</span> 訂閱以獲取更多資訊！</h2>
              </div>
              <div class="col-md-4">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control fs-4 border-2 border-primary" placeholder="Your email address" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-primary text-white fs-4" type="button" id="button-addon2">Subscribe</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
